@model List<GD.Web.Models.QuestionViewModel>
<style>
    .add-minus {
        margin: 0 5px 0 0 !important;
        cursor: pointer;
    }
    .add-plus {
        margin: 0 0 0 5px !important;
        cursor: pointer;
    }
    .numberPoint > input {
        width: 24px;
        background: none;
        border: none;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
    }
</style>
@if (ViewBag.LevelQuestionData != null && ViewBag.LevelQuestionData.Count > 0)
{
    var listColor = new string[] { "purple-bg", "primary-bg", "success-bg", "danger-bg" };
    var indexColor = 0;
    <h6>Trắc nghiệm</h6>
    <div class="card-style card-wrapper mb-30 justify-content-around">
        @for (var i = 4; i < ViewBag.LevelQuestionData.Count; i++)
        {
            var colorClass = listColor[indexColor];
            if (indexColor > 2)
            {
                indexColor = 0;
            }
            else
            {
                indexColor++;
            }
            var numberQuestionLevelQuestion = 0;
            if (Model != null)
            {
                numberQuestionLevelQuestion = Model.Where(x => x.LevelId == ViewBag.LevelQuestionData[i].ID && x.TypeId == ViewBag.LevelQuestionData[i].TypeId).ToList().Count();
            }
            <div class="single-card-wrapper">
                <div class="single-card @colorClass">
                    <span class="text-sm text-white fw-500">@Html.Raw(ViewBag.LevelQuestionData[i].Name)</span>
                    <div class="d-flex justify-content-center" id="@i">
                        <input hidden value="@ViewBag.LevelQuestionData[i].ID" id="LevelId-@i"/>
                        <h3 id="TN-minus-@i" onclick="AddExampleValueChangeMinus(`TN-value-@i`)" class="add-minus">-</h3>
                        <div class="numberPoint"><input onchange="AddExampleValueChange(`TN-value-@i`, `TN-maxValue-@i`)" id="TN-value-@i" value="0" /></div>
                        <h3 style="margin: 0;">
                            /<span id="TN-maxValue-@i">@Html.Raw(numberQuestionLevelQuestion)</span>
                        </h3>
                        <h3 onclick="AddExampleValueChangePlus(`TN-value-@i`,`TN-maxValue-@i`)" id="TN-plus-@i" class="add-plus">+</h3>
                    </div>
                    <span class="bg-shape">
                        <svg width="330"
                             height="200"
                             viewBox="0 0 330 200"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0"
                                  style="mask-type: alpha"
                                  maskUnits="userSpaceOnUse"
                                  x="0"
                                  y="0"
                                  width="330"
                                  height="200">
                                <rect width="330"
                                      height="200"
                                      rx="10"
                                      fill="#6647BF" />
                            </mask>
                            <g mask="url(#mask0)">
                                <path opacity="0.3"
                                      d="M274 200C274 184.536 286.536 172 302 172V200H274Z"
                                      fill="white" />
                                <path opacity="0.1"
                                      d="M246 172H274V200H246V172Z"
                                      fill="white" />
                                <path opacity="0.3"
                                      d="M302 172C302 156.536 314.536 144 330 144V172H302Z"
                                      fill="white" />
                                <path opacity="0.3"
                                      d="M246 172C246 156.536 258.536 144 274 144V172H246Z"
                                      fill="white" />
                                <path opacity="0.6"
                                      d="M274 144C289.464 144 302 156.536 302 172H274V144Z"
                                      fill="white" />
                                <circle opacity="0.05"
                                        cx="11.5"
                                        cy="9.5"
                                        r="99.5"
                                        fill="white" />
                                <circle opacity="0.05"
                                        cx="11.5"
                                        cy="9.5"
                                        r="68.5"
                                        fill="white" />
                                <circle opacity="0.08"
                                        cx="11.5"
                                        cy="9.5"
                                        r="35.5"
                                        fill="white" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
        }
    </div>

}
else
{
    <div class="alert-box primary-alert">
        <div class="alert">
            <h4 class="alert-heading">THÔNG BÁO</h4>
            <p class="text-medium">
                Chưa có dữ liệu độ khó câu hỏi.
            </p>
        </div>
    </div>
}