@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <script type="text/javascript" src="@Url.Content("~/Content/Custom/Scripts/System/Permission.js")"></script>
}

    <style>
        .dxgvHeader_Office365 {
            background-color: #1c53a3;
            color: #fff;
        }

        .dxgv {
            border-bottom: 1px solid #d1d1d1 !important;
        }
    </style>

<div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Phân quyền</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Danh mục</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Phân quyền
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->
    <!-- ========== tables-wrapper start ========== -->
    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h6 class="mb-10"></h6>

                    <div class="table-wrapper table-responsive">
                        @Html.DevExpress().PageControl(
                          panel =>
                          {
                              panel.Name = "PageControlPermisstion";
                              panel.ActivateTabPageAction = ActivateTabPageAction.Click;
                              panel.EnableHotTrack = true;
                              panel.SaveStateToCookies = true;
                              panel.TabAlign = TabAlign.Left;
                              panel.TabPosition = TabPosition.Top;
                              panel.Width = Unit.Percentage(100);
                              panel.TabPages.Add("Thông tin").SetContent(() =>
                              {
                                  using (Html.BeginForm())
                                  {
                                      ViewContext.Writer.Write("<div id=\"contentEmployee\" style=\"display:block;\">");
                                      Html.RenderPartial("GridEmployeePartial");
                                      ViewContext.Writer.Write("</div>");

                                  }

                              });
                              panel.TabPages.Add("Tài khoản").SetContent(() =>
                              {
                                  using (Html.BeginForm())
                                  {
                                      ViewContext.Writer.Write("<div id=\"contentApplicationUser\" style=\"display:block;\">");
                                      Html.RenderPartial("GridApplicationUserPartial");
                                      ViewContext.Writer.Write("</div>");

                                  }

                              });
                              panel.TabPages.Add("Nhóm quyền").SetContent(() =>
                              {
                                  using (Html.BeginForm())
                                  {
                                      ViewContext.Writer.Write("<div id=\"contentApplicationGroup\" style=\"display:block;\">");
                                      Html.RenderPartial("GridApplicationGroupPartial");
                                      ViewContext.Writer.Write("</div>");
                                  }

                              });
                              panel.TabPages.Add("Quyền hạn").SetContent(() =>
                              {
                                  using (Html.BeginForm())
                                  {
                                      ViewContext.Writer.Write("<div id=\"contentApplicationRole\" style=\"display:block;\">");
                                      Html.RenderPartial("GridApplicationRolePartial");
                                      ViewContext.Writer.Write("</div>");

                                  }

                              });


                          }).GetHtml()
                    </div>

                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== tables-wrapper end ========== -->
</div>

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControlFilterEmployee";
    settings.HeaderText = "Lọc Danh Sách";
    settings.Styles.Header.Paddings.PaddingTop = 30;
    settings.ShowOnPageLoad = false;
    settings.ShowCloseButton = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.Always;
    settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
    settings.SettingsAdaptivity.HorizontalAlign = PopupAdaptiveHorizontalAlign.WindowRight;
    settings.SettingsAdaptivity.MaxWidth = Unit.Pixel(300);
    settings.SettingsAdaptivity.MinHeight = Unit.Pixel(600);
    settings.SettingsAdaptivity.MaxHeight = Unit.Pixel(650);
    settings.AllowDragging = false;
    settings.ShowFooter = true;
    settings.Styles.Content.Paddings.Padding = 0;
    settings.Styles.Content.Paddings.PaddingTop = 12;
    settings.SetFooterTemplateContent(c =>
    {
        @Html.DevExpress().FormLayout(formLayoutsettings =>
        {
            formLayoutsettings.Name = "footerFormLayoutFilterEmployee";
            formLayoutsettings.Width = Unit.Percentage(100);
            formLayoutsettings.ControlStyle.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutItem.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutGroup.CssClass = "clearPaddings";
            formLayoutsettings.Items.AddGroupItem(g =>
            {
                g.GroupBoxDecoration = GroupBoxDecoration.None;
                g.Paddings.Padding = Unit.Pixel(0);
                g.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                }).SetNestedContent(() =>
                {
                    ViewContext.Writer.Write("<div class='buttonsContainer'>");
                    Html.DevExpress().Button(s =>
                    {
                        s.Name = "btnSubmitFilterEmployee";
                        s.ControlStyle.CssClass = "submitButton";
                        s.Width = Unit.Pixel(100);
                        s.Text = "Xong";
                        s.UseSubmitBehavior = false;
                        s.ClientSideEvents.Click = "onSubmitClickFilterEmployee";
                    }).Render();

                    ViewContext.Writer.Write("</div>");
                });
            });
        }).Render();
    });
    settings.SetContent(() =>
    {
        @Html.DevExpress().FormLayout(formLayoutsettings =>
        {
            formLayoutsettings.Name = "detailFormLayoutFilterEmployee";
            formLayoutsettings.ColumnCount = 2;
            formLayoutsettings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
            formLayoutsettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 576;
            formLayoutsettings.Items.AddGroupItem(g =>
            {
                g.GroupBoxStyle.Caption.CssClass = "groupCaption";
                g.ShowCaption = DefaultBoolean.False;
                g.ColumnSpan = 2;
                g.ColumnCount = 2;
                g.Paddings.Padding = Unit.Pixel(0);
                g.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;

                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Loại";
                    i.SetNestedContent(() =>
                    {
                        Html.DevExpress().ComboBox(c =>
                        {
                            c.Name = "cbType";
                            c.ControlStyle.CssClass = "field";
                            c.SelectedIndex = 0;
                            c.Properties.Items.Add("Kích hoạt", 0);
                            c.Properties.Items.Add("Chưa kích hoạt", 1);
                            c.Properties.ClientSideEvents.ValueChanged = "TypeValueChanged";
                            c.Width = Unit.Percentage(100);
                        }).GetHtml();

                    });
                });



            });

        }).Render();
    });
}).GetHtml()

@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControlApplicationGroup";
    settings.HeaderText = "THÔNG TIN NHÓM QUYỀN";
    settings.Styles.Header.Paddings.PaddingTop = 30;
    settings.ShowOnPageLoad = false;
    settings.ShowCloseButton = false;
    settings.CloseAction = CloseAction.CloseButton;
    settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.Always;
    settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
    settings.SettingsAdaptivity.MaxWidth = Unit.Percentage(100);
    settings.AllowDragging = false;
    settings.ShowFooter = true;
    settings.Styles.Content.Paddings.Padding = 0;
    settings.Styles.Content.Paddings.PaddingTop = 12;
    settings.SetFooterTemplateContent(c =>
    {
        @Html.DevExpress().FormLayout(formLayoutsettings =>
        {
            formLayoutsettings.Name = "footerFormLayoutApplicationGroup";
            formLayoutsettings.Width = Unit.Percentage(100);
            formLayoutsettings.ControlStyle.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutItem.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutGroup.CssClass = "clearPaddings";
            formLayoutsettings.Items.AddGroupItem(g =>
            {
                g.GroupBoxDecoration = GroupBoxDecoration.None;
                g.Paddings.Padding = Unit.Pixel(0);
                g.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                }).SetNestedContent(() =>
                {
                    ViewContext.Writer.Write("<div class='buttonsContainer'>");
                    Html.DevExpress().Button(s =>
                    {
                        s.Name = "btnSubmitApplicationGroup";
                        s.ControlStyle.CssClass = "submitButton";
                        s.Width = Unit.Pixel(100);
                        s.Text = "Lưu";
                        s.UseSubmitBehavior = false;
                        s.ClientSideEvents.Click = "onSubmitClickApplicationGroup";
                    }).Render();
                    Html.DevExpress().Button(s =>
                    {
                        s.Name = "btnCancelApplicationGroup";
                        s.Width = Unit.Pixel(100);
                        s.ControlStyle.CssClass = "cancelButton";
                        s.Text = "Hủy";
                        s.UseSubmitBehavior = false;
                        s.ClientSideEvents.Click = "onCancelClickApplicationGroup";
                    }).Render();
                    ViewContext.Writer.Write("</div>");
                });
            });
        }).Render();
    });
    settings.SetContent(() =>
    {
        @Html.DevExpress().FormLayout(formLayoutsettings =>
        {
            formLayoutsettings.Name = "detailFormLayoutApplicationGroup";
            formLayoutsettings.ColumnCount = 2;
            formLayoutsettings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
            formLayoutsettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 576;
            formLayoutsettings.Items.AddGroupItem(g =>
            {
                g.GroupBoxStyle.Caption.CssClass = "groupCaption";
                g.ShowCaption = DefaultBoolean.False;
                g.ColumnSpan = 2;
                g.ColumnCount = 2;
                g.Paddings.Padding = Unit.Pixel(0);
                g.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Tên nhóm quyền";
                    i.SetNestedContent(() =>
                    {
                        Html.DevExpress().TextBox(s =>
                        {
                            s.Name = "textBoxNameApplicationGroup";
                            s.Width = Unit.Percentage(100);
                        }).GetHtml();
                    });
                });

                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Quyền hạn";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentDropDownEditApplicationRole\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Menu";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentDropDownEditMenu\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });



            });

        }).Render();
    });
}).GetHtml()


@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControlApplicationUser";
    settings.HeaderText = "THÔNG TIN TÀI KHOẢN";
    settings.Styles.Header.Paddings.PaddingTop = 30;
    settings.ShowOnPageLoad = false;
    settings.ShowCloseButton = false;
    settings.CloseAction = CloseAction.CloseButton;
    settings.SettingsAdaptivity.Mode = PopupControlAdaptivityMode.Always;
    settings.SettingsAdaptivity.VerticalAlign = PopupAdaptiveVerticalAlign.WindowCenter;
    settings.SettingsAdaptivity.MaxWidth = Unit.Percentage(100);
    settings.AllowDragging = false;
    settings.ShowFooter = true;
    settings.Styles.Content.Paddings.Padding = 0;
    settings.Styles.Content.Paddings.PaddingTop = 12;
    settings.SetFooterTemplateContent(c =>
    {
        @Html.DevExpress().FormLayout(formLayoutsettings =>
        {
            formLayoutsettings.Name = "footerFormLayoutApplicationUser";
            formLayoutsettings.Width = Unit.Percentage(100);
            formLayoutsettings.ControlStyle.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutItem.CssClass = "clearPaddings";
            formLayoutsettings.Styles.LayoutGroup.CssClass = "clearPaddings";
            formLayoutsettings.Items.AddGroupItem(g =>
            {
                g.GroupBoxDecoration = GroupBoxDecoration.None;
                g.Paddings.Padding = Unit.Pixel(0);
                g.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                }).SetNestedContent(() =>
                {
                    ViewContext.Writer.Write("<div class='buttonsContainer'>");
                    Html.DevExpress().Button(s =>
                    {
                        s.Name = "btnSubmitApplicationUser";
                        s.ControlStyle.CssClass = "submitButton";
                        s.Width = Unit.Pixel(100);
                        s.Text = "Lưu";
                        s.UseSubmitBehavior = false;
                        s.ClientSideEvents.Click = "onSubmitClickApplicationUser";
                    }).Render();
                    Html.DevExpress().Button(s =>
                    {
                        s.Name = "btnCancelApplicationUser";
                        s.Width = Unit.Pixel(100);
                        s.ControlStyle.CssClass = "cancelButton";
                        s.Text = "Hủy";
                        s.UseSubmitBehavior = false;
                        s.ClientSideEvents.Click = "onCancelClickApplicationUser";
                    }).Render();
                    ViewContext.Writer.Write("</div>");
                });
            });
        }).Render();
    });
    settings.SetContent(() =>
    {
        @Html.DevExpress().FormLayout(formLayoutsettings =>
        {
            formLayoutsettings.Name = "detailFormLayoutApplicationUser";
            formLayoutsettings.ColumnCount = 2;
            formLayoutsettings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
            formLayoutsettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 576;
            formLayoutsettings.Items.AddGroupItem(g =>
            {
                g.GroupBoxStyle.Caption.CssClass = "groupCaption";
                g.ShowCaption = DefaultBoolean.False;
                g.ColumnSpan = 2;
                g.ColumnCount = 2;
                g.Paddings.Padding = Unit.Pixel(0);
                g.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;

                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Tài khoản";
                    i.NestedExtension().TextBox(s =>
                    {
                        s.Name = "txtUserName";
                        s.Width = Unit.Percentage(100);

                    });
                });
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Nhân viên";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentComboBoxEmployee\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Cấp độ quyền";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentComboBoxLevel\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Nhóm quyền";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentDropDownEditApplicationGroup\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Khối lớp";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentDropDownEditGradeGroup\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Lớp học";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentDropDownEditGrade\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });
                g.Items.Add(i =>
                {
                    i.ColumnSpan = 2;
                    i.Caption = "Môn học";
                    i.SetNestedContent(() =>
                    {
                        using (Html.BeginForm())
                        {
                            ViewContext.Writer.Write("<div id=\"contentDropDownEditCourse\" style=\"display:block;\">");

                            ViewContext.Writer.Write("</div>");

                        }

                    });
                });



            });

        }).Render();
    });
}).GetHtml()
