@model List<GD.Web.Models.ScoreViewModel>

@if (Model != null && Model.Count > 0)
{
    var x = 0;
    <div class="col-lg-12">
        <div class="table-wrapper table-responsive">
            <table style="font-weight: 500; color: #262d3f; font-size: 14px;">
                <thead>
                    <tr>
                        <th style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;border-top:1px solid #dee2e6;" width="50px" class="name">STT</th>
                        <th style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;border-top:1px solid #dee2e6;" width="150px" class="name">Mã</th>
                        <th style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;border-top:1px solid #dee2e6;" width="350px" class="name">Họ tên</th>
                        <th style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;border-top:1px solid #dee2e6;" width="200px" class="name">Ngày sinh</th>
                        <th style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;border-top:1px solid #dee2e6;" width="200px" class="name">ĐTB HKI</th>
                        <th style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;border-top:1px solid #dee2e6;" width="200px" class="name">ĐTB HKII</th>
                        <th style="padding:5px;vertical-align:central; text-align: center; border:1px solid #dee2e6;" width="250px" class="name" rowspan="2">ĐTB CN</th>
                    </tr>
                    <!-- end table row-->
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        x++;
                        <tr>
                            <td style="text-align: center;vertical-align:central; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;">
                                @Html.Raw(x)
                            </td>
                            <td style="padding:5px;vertical-align:central; padding-left:10px; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;">
                                @Html.Raw(item.Code)
                            </td>

                            <td style="padding:5px;vertical-align:central; padding-left:10px; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;">
                                @Html.Raw(item.FullName)
                            </td>
                            <td style="text-align: center;vertical-align:central; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;">
                                @Html.Raw(item.BirthDay.ToString("dd/MM/yyyy"))
                            </td>
                            
                            <td style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;">
                                @(item.PointDDGGK != null ? item.PointDDGGK.ToString() : "Chưa có")
                            </td>
                            <td style="padding:5px;vertical-align:central; text-align: center; border-left:1px solid #dee2e6;border-bottom:1px solid #dee2e6;">
                                @(item.PointDDGCK != null ? item.PointDDGCK.ToString() : "Chưa có")
                            </td>

                            <td style="padding:5px;vertical-align:central; text-align: center; border:1px solid #dee2e6;">
                                @(item.PointDTBMHK != null ? item.PointDTBMHK.ToString() : "Chưa có")
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
            <!-- end table -->
        </div>
    </div>
}
else
{
    <div class="alert-box primary-alert">
        <div class="alert">
            <h4 class="alert-heading">THÔNG BÁO</h4>
            <p class="text-medium">
                Chưa có dữ liệu chia lớp, vui lòng chia lớp trước.
            </p>
        </div>
    </div>
}

